alembic==1.18.5
annotated-types==0.7.0
anyio==4.14.1
backports.zstd==1.6.0
beautifulsoup4==4.15.0
blinker==1.9.0
brotli==1.2.0
certifi==2026.6.17
charset-normalizer==3.4.9
click==8.4.2
deep-translator==1.11.4
dnspython==2.8.0
dotenv==0.9.9
email-validator==2.3.0
Flask==3.1.3
Flask-Compress==1.24
flask-cors==6.0.5
flask-marshmallow==1.5.0
Flask-Migrate==4.1.0
flask-openapi3==4.3.2
flask-openapi3-elements==9.0.15
flask-openapi3-rapidoc==9.3.8
flask-openapi3-rapipdf==2.2.1
flask-openapi3-redoc==2.5.2
flask-openapi3-scalar==1.44.15
flask-openapi3-swagger==5.31.0
Flask-SQLAlchemy==3.1.1
greenlet==3.5.3
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.18
itsdangerous==2.2.0
Jinja2==3.1.6
Mako==1.3.12
MarkupSafe==3.0.3
marshmallow==4.3.0
marshmallow-sqlalchemy==1.5.0
mysql-connector-python==9.7.0
packaging==26.0
pydantic==2.13.4
pydantic_core==2.46.4
python-dotenv==1.2.2
pytz==2026.2
requests==2.34.2
setuptools==82.0.1
soupsieve==2.8.4
SQLAlchemy==2.0.51
typing-inspection==0.4.2
typing_extensions==4.16.0
urllib3==2.7.0
waitress==3.0.2
Werkzeug==3.1.8
wheel==0.47.0
